.signUp {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signUp_section {
    width: 300px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 20px;
    border: 2px solid rgb(52, 52, 248);
    border-radius: 10px;
  }
  
  .signUp_section > h1 {
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .signup {
      margin-bottom: 20px;
    height: 30px;
    width: 98%;
    border: 2px solid rgb(52, 52, 248);
    border-radius: 10px;
  }
  
  
  .signUp_logo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    object-fit: contain;
    background-color: black;
    border-radius: 10px;
  }
  
  .signUp_section > form > p {    
    margin: 10px;
  }
  

  .signUp_button {
    background-color: rgb(52, 52, 248) !important;
    color: white !important;
    width: 100%;
    height: 30px !important;
    margin: 0 auto !important;
  }
  